.errorMessage {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 15px;
  color: rgb(228, 38, 38);
  margin-top: 2px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

body {
  /* background-image: url('images/sunny\ day.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center; */
}
input:valid {
  border: 1px solid green;
}

input:invalid {
  /* border: 1px solid#990000; */
  margin-bottom: 5px;
  color: black;
}

#container {
  width: 510px;
  height: 550px;
  margin: auto;
  border-radius: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


#searchBox {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50px;
  right: 4px;
  margin-bottom: 80px;
}

input {
  width: 300px;
  height: 30px;
}

::placeholder {
  position: relative;
  left: 3px;
  font-size: 1rem;
}

#submit {
  width: 120px;
  height: 27px;
  margin-top: 5px;
}

#weatherInfoDiv2 {
  width: 440px;
  height: 300px;
  background-color: silver;
  position: relative;
  top: -300px;
  left: 36px;
  border-radius: 20px;
  opacity: 0.5;
  /* filter: blur(6px); */
}

#weatherInfoDiv {
  width: 440px;
  height: 300px;
  margin: auto;
  z-index: 1;
  /* background-color: orange; */
  position: relative;
  right: -1px;
  /* margin-right: 100px; */
  margin-top: 110px;
  border-radius: 20px;
}

#infoDivHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 10px;
  padding: 15px;
}

#iconAndLocation {
  display: flex;
}

/* .fa-solid { */
/* color: white; */
/* } */

#location {
  position: relative;
  top: -16px;
  left: 15px;
}

#toggleButton {
  border: none;
  border-radius: 10px;
  height: 25px;
  width: 60px;
  cursor: pointer;
  background-color: rgb(198, 217, 233);
}

#infoDivHeader #degreeIcon {
  position: relative;
  top: -6px;
  left: -1px;
  font-size: 0.6rem;
}

#temperatureDiv {
  width: 200px;
  text-align: center;
  margin: auto;
}

/* #temperatureDiv span {
  font-size: 2rem;
  position: relative;
  top: -29px;
} */
#temp {
  display: inline;
}

#temp,
#tempDiv .unit {
  font-size: 4rem;
}

#tempDiv .degreeIcon {
  font-size: 2rem;
  position: relative;
  top: -29px;
}

#weatherNature {
  position: relative;
  top: -19px;
  font-size: 1.1rem;
  margin-bottom: -40px;
}

#weatherReadings {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  line-height: 0.4;
  margin-top: 15px;
}

#temp2 {
  display: inline;
}

#tempAssume .unit {
  display: inline;
  position: relative;
  left: -4px;
}

#tempAssume .degreeIcon {
  position: relative;
  top: -5px;
  font-size: 0.8rem;
  left: -2px;
}
